%header#home
  %nav
    .container-fluid
      .row
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2
          %nav.pull
            %ul.top-nav
              %li
                %a{:href => "#intro"}
                  Introduction
                  %span.indicator
                    %i.fa.fa-angle-right
              %li
                %a{:href => "#features"}
                  Features
                  %span.indicator
                    %i.fa.fa-angle-right
              %li
                %a{:href => "#responsive"}
                  Responsive Design
                  %span.indicator
                    %i.fa.fa-angle-right
              %li
                %a{:href => "#portfolio"}
                  Portfolio
                  %span.indicator
                    %i.fa.fa-angle-right
              %li
                %a{:href => "#team"}
                  Team
                  %span.indicator
                    %i.fa.fa-angle-right
              %li
                %a{:href => "#contact"}
                  Get in Touch
                  %span.indicator
                    %i.fa.fa-angle-right
  %section#hero.hero
    .container
      .row
        .col-md-12.text-right.navicon
          %a#nav-toggle.nav_slide_button{:href => "#"}
            %span
      .row
        .col-md-8.col-md-offset-2.text-center.inner
          %h1.animated.fadeInDown
            MMC
            %span FotoWall
          %p.animated.fadeInUp.delay-05s
            = @message
            %br
            We didn't receive Authorization to login
            %br
            please try again
      .row
        .col-md-6.col-md-offset-3.text-center
          %a.learn-more-btn{:href => connect_url} Connect Again

%footer
  .container
    .row
      .col-md-6
        %ul.legals
          %li
            %a{:href => "#"} Terms &amp; Conditions
          %li
            %a{:href => "#"} Legals
      .col-md-6.credit
        %p
          Designed &amp; Developed by
          %a{:href => "http://www.peterfinlan.com/"} Peter Finlan
          exclusively for
          %a{:href => "http://tympanus.net/codrops/"}
            %em Codrops